Repository etternagame/etterna, pull requests merged in 2021-08, with the labels that each got.

#1018 Platform Unix: escape the URL passed to xdg-open
  src/Core/Platform/PlatformUnix.cpp
Labels: Platform: Linux, Solved, Type: Bug

#1019 Fix warnings in SongCacheIndex
  src/Etterna/Models/Misc/DBProfile.cpp
  src/Etterna/Models/Songs/SongCacheIndex.cpp
  src/Etterna/Models/Songs/SongCacheIndex.h
  src/Etterna/Singletons/NetworkSyncManager.cpp
Labels: Priority: Very Low, Type: Maintenance

#1020 Remove duplicate indexes in tables in pump note-skins
  NoteSkins/pump/default/NoteSkin.lua
  NoteSkins/pump/delta/NoteSkin.lua
  Themes/_fallback/BGAnimations/_wait.lua
Labels: Language: Lua, Priority: Very Low, Type: Maintenance

#1021 Fix more clang's compile-time warnings
  src/Etterna/Actor/Gameplay/NoteDisplay.cpp
  src/Etterna/Actor/Menus/MusicWheel.cpp
  src/Etterna/Actor/Menus/OptionRow.cpp
  src/Etterna/FileTypes/XmlFile.h
  src/Etterna/Models/CMakeLists.txt
  src/Etterna/Models/Lua/LuaBinding.cpp
  src/Etterna/Models/Lua/LuaBinding.h
  src/Etterna/Models/Misc/CubicSpline.cpp
  src/Etterna/Models/Misc/DBProfile.cpp
  src/Etterna/Models/Misc/DBProfile.h
  src/Etterna/Models/Misc/HighScore.cpp
  src/Etterna/Models/Misc/Profile.h
  src/Etterna/Models/Misc/TimingData.cpp
  src/Etterna/Models/Misc/TimingData.h
  src/Etterna/Models/NoteLoaders/NotesLoaderBMS.cpp
  src/Etterna/Models/NoteLoaders/NotesLoaderBMS.h
  src/Etterna/Models/NoteLoaders/NotesLoaderOSU.cpp
  src/Etterna/Models/NoteLoaders/NotesLoaderOSU.h
  src/Etterna/Singletons/MessageManager.cpp
  src/Etterna/Singletons/MessageManager.h
Labels: Priority: Very Low, Type: Maintenance

#1025 Replace deprecated audio API usage to make sound work on Big Sur
  src/arch/Sound/RageSoundDriver_AU.cpp
Labels: Platform: Mac, Priority: High, Type: Maintenance

#1026 🔨 Update macOS Build and CI
  .github/workflows/ci-workflow.yml
  CMake/Helpers/CMakeMacOS.cmake
  CMakeLists.txt
Labels: Platform: Mac, Priority: Low, Type: Enhancement
